header { background-color: rgb(255, 255, 255);
color: black;
display: flex;
justify-content: space-around;
}

img{
     width: 20%;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
}

.escola{
    background-image: linear-gradient(#ffffff, #CDE2F8);
    color: white;
    display: flex;
}