header { background-color: rgb(220, 250, 255);
color: black;
display: flex;
justify-content: space-around;
}

img{
     width: 20%;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
}